<html>
<head>
  <title>Commercial Corridors Health Report - Overview</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

  <style>
    #overviewMap {
      height: 250px;
    }
  </style>
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Overview</a></li>
      {% for district_name, district_corridors in corridors | groupby('planning_district_name') %}
        <li>
          <h3>{{ district_name }}</h3>
          <ul>
            {% for corridor in district_corridors %}
              <li><a href="{{ corridor.filename }}.html">{{ corridor.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <section id="content">
    <h1>Commercial Corridor Health Report</h1>

    <p>The healthiest corridor is {{ overview.most_healthy_corridor_name }}, which has high scores across every metric, while the least healthy corridor is {{ overview.least_healthy_corridor_name }}, which has particularly low scores for  _____. On average, across the city, commercial corridors seem [very|moderately|un]healthy.</p>

    <div id="overviewMap"></div>
  </section>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

  <script>
    var initialCenter = [40, -75.2];  // <-- Latitude, Longitude
    var initialZoom = 11;
    var overviewMap = L.map('overviewMap').setView(initialCenter, initialZoom);

    var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    baseLayer.addTo(overviewMap);

    var mapdata = {{ overview_map_data }};
    var dataLayer = L.geoJSON(mapdata)
    dataLayer.addTo(overviewMap);
  </script>
</body>
</html>
